PORT=3000
DATABASE_URL=postgresql://user:password@ep-xxx-pooler.region.aws.neon.tech/neondb?sslmode=require
TELEGRAM_BOT_TOKEN=123456:ABC...
TELEGRAM_BOT_USERNAME=kepalababybot
TELEGRAM_WEBHOOK_SECRET=rahasia-acak-panjang
PUBLIC_URL=https://nama-project.vercel.app
BOT_MODE=polling
NODE_ENV=development
